@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


* {
  box-sizing: border-box;
  transition: all 0.3s ease-in;
}

body {
  font-family: 'Libre Baskerville', serif;
  background-color: ivory;
  color: #4C9A2A;
}

.projects main {
  display: grid;
  grid-template-columns: 60px 600px 60px;

}

.main-projects, .about {
  display: block;
  margin: 0 auto 30px auto;
  width: 50% ;
  min-width: 700px;
  line-height: 30px;
  padding-bottom: 20px;
}

nav {
  font-family: "pirata one";
  font-size: 25px;
}

nav .border {
  padding: 0 5px;
}


.sticky-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: #1E5631;
  color: ivory;
  z-index: 1;
  padding-bottom: 2px;
}

.sticky-header a {
  color: white;
}

aside .buttons {
  height: 100%;
  padding: 5px;
  margin: 5px;
}

.top-button {
  position: fixed;
  top: 47%;
  transform: translateY(-50%);
}

.bottom-button {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

h2 {
  text-align: center;
  /* add shadow */
}

.about {
  padding: 5px 15px;
}

.go-image {
  display: flex;
}

a {
  color: #1E5631;
}

.contact {
  display: inline;
  text-decoration: underline;
  cursor: pointer;
}

.contactText {
  display:inline;
}

nav a:hover, .contact:hover {
  color: #A4DE02;
  font-size: 20px;
}

.float-left {
  float: left;
  padding-right: 3px;
}

.float-right {
  float: right;
  padding-left: 3px;
}

p {
  font-size: 15px;
  margin-bottom: 30px;
}

.top-spacer {
  margin-top: 40px;
}


/* Popup container - can be anything you want */
.contact {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.contact .contactText {
  visibility: hidden;
  width: 180px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: -800%;
  left: 100%;
}

/* Toggle this class - hide and show the popup */
.contact .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.contactText {
  cursor: default;
}